body {
	background-color: #ADB2C4;
	font-family: Arial,Verdana,Geneva,"Bitstream Vera Sans",Helvetica,sans-serif;
	font-size: 90%;
	max-width: 70em;
	min-width: 45em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

/* main layout */

#main-container {
	background: #fff;
	padding: 10px;
	margin: 0;
}

#headline {
	font-size: 300%;
	margin: 10px 0px 20px 0px;
}

#headline a {
	text-decoration: none;
}

#main-header {
	border-top: solid 1px #C2CAD8;
	border-bottom: solid 1px #C2CAD8;
	border-collapse: collapse;
	margin-bottom: 10px;
	width: 100%;
}

#main-header td {
	padding: 5px 0 5px 0;
}

#nav-list {
	padding: 0px;
	margin: 0px;
	font-size: 118%;
}

#nav-list li {
	display: inline;
	padding-right: 30px;
}


#google-search {
	text-align: right;
}

#main-layout {
	width: 100%;
}

#main-sidebar, #main-content {
	margin: 0px;
}

#main-sidebar {
	float: right;
	width: 300px;
}

#main-content {
	padding-top: 0px;
	padding-right: 10px;
	margin-right: 300px;
	min-height: 30em;
}

#main-footer {
	border-top: 1px solid #C2CAD8;
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
	color: gray;
}

div.sidebar {
	background-color: #FFF3E0;
	margin-bottom: 10px;
	padding: 10px;
  border: 1px solid #CCC;
}

.sidebar-title {
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}

/* default properties */

.small {
	font-size: smaller;
}

.tiny {
	font-size: x-small;
}

.quiet {
	font-size: smaller;
	color: gray;
}

a { 
	text-decoration: none;
	color: #A52A2A;
}

a:hover {
	text-decoration: underline;
}

ul.linklist { 
	margin: 0px;
	padding: 0px;
}

ul.linklist li {
	list-style-type: none;
}

pre {
  padding: 10px;
  border: 1px solid #CCC;
  overflow: auto;
  background-color: #fff;
	color: black;
}

.synComment    { color: #0000FF }
.synConstant   { color: #0000FF }
.synIdentifier { color: #008B8B }
.synStatement  { color: #A52A2A ; font-weight: bold }
.synPreProc    { color: #A020F0 }
.synType       { color: #2E8B57 ; font-weight: bold }
.synSpecial    { color: #6A5ACD }
.synUnderlined { color: #000000 ; text-decoration: underline }
.synError      { color: #FFFFFF ; background: #FF0000 none }
.synTodo       { color: #0000FF ; background: #FFFF00 none }

p {
	margin-top: 0;
	margin-bottom: 0.8em;
}

.messagebox {
	border: 1px solid #CCCCCC;
	background-color: #FFF3E0;
	padding: 10px;
	margin: 0px 0px 10px 0px;
}

.messagebox ul {
	list-style-type: none;
}

input[type='text'], input[type='password'], textarea, select {
	border: 1px solid #CCC;
}

div.clearer {clear: both; line-height: 0; height: 0; }

h1 {
	font-size: 218%;
	margin-top: .6em;
	margin-bottom: .6em;
}

h2 {
	font-size: 150%;
	margin-top: 1em;
	margin-bottom: .2em;
	line-height: 1.2em;
}

.billboard {
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}

hr {
	border: 0;
	width: 100%;
	height: 1px;
	color: #EEE;
	background-color: #C2CAD8;
}
