/* main layout */

#main-container {
	background: #fff;
	padding: 10px;
}

#main-title {
	font-size: 300%;
	margin: 10px 0px 20px 0px;
}

#main-title a {
	text-decoration: none;
}

#main-header {
	border-top: solid 1px #C2CAD8;
	border-bottom: solid 1px #C2CAD8;
	border-collapse: collapse;
	margin-bottom: 10px;
	width: 100%;
}

#main-header td {
	padding: 5px 0 5px 0;
}

#nav-list {
	padding: 0px;
	margin: 0px;
	font-size: 118%;
}

#nav-list li {
	display: inline;
	padding-right: 30px;
}


#google-search {
	text-align: right;
}

#main-layout {
	width: 100%;
}

#main-sidebar {
	float: right;
	width: 300px;
}

#main-content {
	padding-right: 10px;
	min-height: 30em;
	margin-right: 300px;
}

#main-footer {
	border-top: 1px solid #C2CAD8;
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
	color: gray;
}

div.sidebar {
	background-color: #FFF3E0;
	margin-bottom: 10px;
	padding: 10px;
  border: 1px solid #CCC;
}

.sidebar-title {
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}

/* default properties */

.small {
	font-size: smaller;
}

.tiny {
	font-size: x-small;
}

.quiet {
	font-size: smaller;
	color: gray;
}

ul.linklist { 
	margin: 0px;
	padding: 0px;
}

ul.linklist li {
	list-style-type: none;
}

.messagebox {
	border: 1px solid #CCCCCC;
	background-color: #FFF3E0;
	padding: 10px;
	margin: 0px 0px 10px 0px;
}

.messagebox ul {
	list-style-type: none;
	margin: 0;
}

div.clearer {clear: both; line-height: 0; height: 0; }

.billboard {
	margin-top: 0px;
	text-align: center;
}

.highlight { 
	background-color: #ffffff;
	font-family: monospace;
	padding: 10px 10px 10px 0;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid #C2CAD8;
}

.highlight pre {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin: 0;
	border: 0;
}

.highlight table {
	width: 100%;
}

.highlight th {
	border-right: 1px solid #C2CAD8;
	text-align: right;
	padding-right: 0.5em;
	padding-left: 0.5em;
	width: 1em;
}

.highlight td {
	text-align: left;
	padding-left: 0.5em;
}
