[submodule "django"]
	path = django
	url = git://github.com/django/django.git
[submodule "markdown"]
	path = markdown
	url = git://github.com/waylan/Python-Markdown.git
[submodule "pygments"]
	path = pygments
	url = git://github.com/erickt/pygments.git
