h2.blog-title {
	/*margin-top: 0;*/
}

p.date {
	font-size: smaller;
	color: gray;
}

.blog-body table {
	border-collapse: collapse;
	border: 1px solid #CCC;
	margin-top: 0px;
	margin-bottom: 11px;
}

.blog-body th {
	font-weight: bold;
}

.blog-body th, .blog-body td {
	border: 1px solid #CCC;
	padding: 5px;
}

.blog-body .highlighttable {
	border: 0;
}

.blog-body .highlighttable th, .blog-body .highlighttable td {
	border: 0;
	padding: 0;
}
