{% extends "base_2col.html" %}

{% block billboard %}Downloading Felix{% endblock %}

{% block content %}
<h2>Current Development Version</h2>
<p>
Felix is free to <a href="/license">use</a>. It is in constant development, so
the best way to use it is through <a href="http://git-scm.org">Git</a>:
</p>

<pre>
git clone http://git.felix-lang.org/r/felix.git
cd felix
git submodule init
git submodule update
</pre>

<h2>Prerequisites</h2>
<ul>
	<li>Install <a href="http://caml.inria.fr/">O'Caml 3.11</a> or above.</li>
	<li>Install <a href="http://www.python.org/download/releases/3.0.1/">Python 3.0</a> or above.</li>
	<li>
		Install a C++ compiler. <a href="http://gcc.gnu.org/">GCC</a> and
		<a href="http://msdn2.microsoft.com/en-us/visualc/default.aspx">MSVC</a>
		are supported.
	</li>
</ul>

<h2>How to Build</h2>
<ul>
	<li>Run <code>python3 fbuild/fbuild-light</code></li>
</ul>

<p>
See <code>python3 fbuild/fbuild-light --help</code> for a description of the
config and build options.
</p>

<h2>Troubleshooting</h2>

<p>
For any help or suggestions with the build process, or any questions
about felix itsel, try our
<a href="http://groups.google.com/group/felix-language">discussion board</a>.
</p>
{% endblock %}
