{% extends "base_2col.html" %}

{% load blog_tags %}

{% block extrahead %}
<link href="/media/site_media/css/blog.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main-billboard %}Blog{% block billboard %}{% endblock %}{% endblock %}

{% block sidebar %}
{% get_post_dates month as months %}
{% get_post_tags as tags %}
{% get_post_authors as authors %}
{% if months %}
<div class="sidebar">
	<h3 class="sidebar-title">Blog Archives:</h3>
	<ul class="linklist">
	{% for month in months %}
		<li><a href="/blog/{{ month|date:"Y" }}/{{ month|date:"b" }}">{{ month|date:"F Y" }}</a></li>
	{% endfor %}
	</ul>
</div>
{% endif %}
{% if tags %}
<div class="sidebar">
	<h3 class="sidebar-title">Blog Tags:</h3>
	<ul class="linklist">
		{% for t in tags %}
			<li>
				<a href="/tags/{{ t.slug }}">{{ t.title|escape }}</a>
				{% if user.is_staff %}
					[<a href="/tags/{{ t.slug }}/update/">U</a>]
					[<a href="/admin/tags/tag/{{ t.slug }}/delete/">X</a>]
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
{% if authors %}
<div class="sidebar">
	<h3 class="sidebar-title">Authors:</h3>
	<ul class="linklist">
		{% for t in authors %}
			<li><a href="/authors/{{ t.username }}">{{ t.username|escape }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif %}
{% endblock %}
