<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Felix | {% block title %} The Smart Upgrade from C++{% endblock %}</title>
	<link href="/media/site_media/css/base.css" rel="stylesheet" type="text/css" />
	{% block extrahead %}{% endblock %}
</head>
<body>
	<div id="main-container">
		<h1 id="headline"><a href="/">Felix Programming Language</a></h1>
		<form id="searchbox_015933594045759905655:xl2zq3t5w3y" action="http://www.google.com/search">
		<table id="main-header">
			<tr><td>
				<ul id="nav-list">
					<li id="active"><a href="/" id="current">Home</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/download">Download</a></li>
					<li><a href="http://felix.sourceforge.net/doc/en_flx_doc_0001.html">Documentation</a></li>
					<li><a href="http://code.felix-lang.org/wiki">Wiki</a></li>
					<li><a href="/discuss">Discuss</a></li>
					<li><a href="http://code.felix-lang.org/wiki/Development">Develop</a></li>
				</ul>
			</td><td id="google-search">
				<input type="hidden" name="cx" value="015933594045759905655:xl2zq3t5w3y" />
				<input type="hidden" name="cof" value="FORID:0" />
				<input name="q" type="text" size="20" />
				<input type="submit" name="sa" value="Search"/>
			</td></tr>
		</table>
	</form>
	<div id="main-layout">
		<div id="main-sidebar">
			{% if user.is_staff %}
			<div class="sidebar">
				<h3 class="sidebar-title">Admin:</h3>
				<ul class="linklist">
					<li><a href="/blog/post/create">New Blog Post</a></li>
					<li><a href="/tags/create">New Tag</a></li>
					<li><a href="/codeblocks/create">New Code Block</a></li>
				</ul>
			</div>
			{% endif %}
			{% block main-sidebar %}
				{% block sidebar %}{%endblock %}
			{% endblock %}
		</div>
		<div id="main-content">
			{% if messages %}
			<div class="messagebox">
				<ul>
					{% for message in messages %}
					<li>{{ message|escape }}</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% block main-content %}
				{% block content %}{% endblock %}
			{% endblock %}
		</div>
	</div>
	<div id="main-footer" class="tiny">
		This website was created using <a href="http://www.djangoproject.com">Django</a>.
	</div>
</div>
</body>	
</html>
