{% extends "base_codeblocks.html" %}

{% block sidebar %}
<div class="sidebar">
	<h3 class="sidebar-title">Contents</h3>
	<ul class="linklist">
		{% for object in object_list %}
			<li><a href="#{{ object.slug }}">{{ object.title }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}

{% block content %}
<table id="codeblock-table">
	{% for object in object_list %}
		<tr>
			<td class="codeblock-label">
				<h3>{{ object.title|escape }}</h3>
				{% if user.is_staff %}
				<div class="small">
					[<a href="/codeblocks/update/{{ object.slug }}">update</a>]
					[<a href="/codeblocks/delete/{{ object.slug }}">delete</a>]
				</div>
				{% endif %}
				<div class="small">{{ object.description }}</div>
			</td>
			<td class="codeblock-code">
				<pre><code>{{ object.html }}</code></pre>
			</td>
			<td class="codeblock-code">
				<pre><code>{{ object.output }}</code></pre>
			</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
