<p class="date small">
	posted on {{ object.pub_date|date:"F d, Y - h:i A T" }}
	by <a href="/authors/{{ object.author }}/">{{ object.author.first_name|escape }} {{ object.author.last_name|escape }}</a>
	{% if object.has_tags %}
		<br/>
		filed under:
		{% for tag in object.tags.all %}
			<a href="{{ tag.get_absolute_url }}">{{ tag.title|escape }}</a>{% if not forloop.last %},{% endif %}
		{% endfor %}
	{% endif %}
	{% if user.is_staff %}
		<br/>
		admin:
		<a href="/blog/post/{{ object.id }}/update/">edit</a>,
		<a href="/blog/post/{{ object.id }}/mail/">mail</a>,
		<a href="/blog/post/{{ object.id }}/delete/">delete</a>
	{% endif %}
</p>
<div>{{ object.html_body|safe }}</div>
{% if object.message_id %}
	<p class="small">
		<a href="http://groups.google.com/groups?threadm={{ object.message_id }}">read comments</a>
	</p>
{% endif %}
